<html>
    <head>
        <title>Formula 1 - {% block title_text %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="container">
            <div class="container row header-bar">
                {% block navigation %}{% endblock %}
                <div class="col-md-8"></div>
                {% for href, text in navigation %}
                    <div class="col-md-2 text-right"><a href="{{ href }}">{{ text }}</a></div>
                {% endfor %}
            </div>
            <div class="container content">
                <div class="col-md">
                    <h1>{% block header_text %}{% endblock %}</h1>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>